<h1>Cat in the Box</h1>

<div class="point_rotate_blu" onmouseover="bigImg()"></div>
<img id="img_center" src="/images/magalli1.jpg" alt="edit" />

  <script>
  function bigImg() {
    document.getElementById("img_center").src = "/images/magalli2.jpg";
  }


  </script>
