// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#img_center
{
   width:30%;
   margin-left: 35%;
   margin-right: 35%;
}


.point_rotate_blu {
    position: absolute;
    /* height: 100%; */
    background: blue;
    width: 2.7%;
    top: 0%;
    bottom: 0%;
}
